{% extends 'layout.html' %}

{% block content %}

    <!-- Section 1 -->
    <section class="section-satu " id="home">
        <div class="bg-wraper">
            <div class="container bg-img-1">

                <div class="row">
                    <div class="col-md-6">
                        <center>
                            <img src="{{ url_for('static', filename='penta/img/humaaans.png') }}" class="img-fluid"
                                width="60%" alt="">
                        </center>

                    </div>
                    <div class="col-md-6 text-center ">
                        <div class="deskripsi-satu px-3">
                            <h1 class="title-utama text-light "> Kupas Tuntas Berita<br class="br-hidden">

                                <span class="forPeople"></span> Masa Kini.
                            </h1>

                            <span class="deskripsi text-light ">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Voluptatibus sed
                                suscipit inventore
                                cumque iure, expedita beatae distinctio porro voluptas dolorum maiores ea commodi. Ea,
                                eius@
                                doloremque. Voluptas culpa incidunt saepe.</span>
                        </div>
                    </div>
                </div>
                <div class="round-tringle-square-animation">
                    <div class="triangle_set1">
                        <div class="triangle1">
                            <div class="empty1"></div>
                        </div>
                    </div>
                    <div class="triangle_set">
                        <div class="triangle">
                            <div class="empty"></div>
                        </div>
                    </div>
                    <div class="bg_circle1"></div>
                    <div class="bg_circle2"></div>
                    <div class="bg_circle3"></div>
                    <div class="square1"></div>
                    <div class="square2"></div>
                    <div class="bg_circle4"></div>
                    <div class="square"></div>
                    <div class="cross"> </div>
                    <div class="cross1"></div>
                    <div class="cross2"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section 1 end -->

    <!-- section 2 -->

    <section class="section-dua">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#2d394d" fill-opacity="1"
                d="M0,32L48,42.7C96,53,192,75,288,112C384,149,480,203,576,224C672,245,768,235,864,218.7C960,203,1056,181,1152,197.3C1248,213,1344,267,1392,293.3L1440,320L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
            </path>
        </svg>
        <br><br><br><br>


        <div class="container " id="Berita">


            <div class="text-center pt-5 pb-5">
                <h1 class="title-utama mb-5" data-aos="fade-down" data-aos-duration="1000">Berita Populer</h1>
            </div>
            <div class="row">

                <div class="col-md-4" data-aos="fade-right" data-aos-duration="2000">

                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="https://cdn-asset.jawapos.com/wp-content/uploads/2019/01/baru-rayakan-ultah-bersama-gisel-gugat-cerai-gading-marten_m_.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Ternyata Gisel Sendiri yang Merekam Adegan itu.</h5>
                            <p class="card-text"><strong>JawaPos.com </strong> – Artis Gisella Anastasia (Gisel) dan Michael Yukinobu de Frates telah ditetapkan tersangka oleh Polda Metro Jaya terkait video syur yang mereka lakukan. Video syur yang viral itu direkam langsung oleh Gisella....</p>
                            <a class="search-submit button" href="#">Lihat Selengkapnya....</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-right" data-aos-duration="2000">

                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="https://asset.kompas.com/crops/AloBK_WEN5WSaPd4CvHgbKI8v9U=/801x505:4000x2638/750x500/data/photo/2020/12/07/5fcd8a62a23bb.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Kasus Korupsi Mensos Juliari, Bansos Berbentuk Sembako Dinilai Perlu Dikaji.</h5>
                            <p class="card-text"><strong>KOMPAS.com</strong> - Sejumlah pihak mendorong agar penyaluran bantuan sosial untuk penanganan pandemi Covid-19 melalui pemberian sembako dikaji kembali....</p>
                            <a class="search-submit button" href="#">Lihat Selengkapnya....</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-right" data-aos-duration="2000">

                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="https://asset.kompas.com/crops/vzZzp7nfYWZDdrczv3IzYcqN-e8=/0x0:999x666/750x500/data/photo/2020/12/31/5fed8c03ec5e2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">FPI Dibubarkan Pemerintah, Habib Rizieq Bakal Tetap Jadi Imam Besar.</h5>
                            <p class="card-text"><strong>Suara.com</strong> - Gelar Imam Besar yang disandang Rizieq Shihab hilang setelah Front Pembela Islam (FPI) resmi dibubarkan pemerintah. Tetapi gelar tersebut....</p>
                            <a class="search-submit button" href="#">Lihat Selengkapnya....</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center pt-5 pb-5">
            </div>


            <div class="text-center pt-5 pb-5">
                <h1 class="title-utama mb-5" data-aos="fade-down" data-aos-duration="1000">Berita Terbaru</h1>
            </div>

            {% for row in rows %}
            <div class="row">
                
                <div class="col-md-4" data-aos="fade-right" data-aos-duration="2000">
                    <div class="kotak-fitur kf-satu" data-tilt>
                        <img src="{{row["gambar"]}}" class="img-thumbnail">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="px-3">
                        <h3 class="title-utama" data-aos="zoom-out-down" data-aos-duration="2000">{{row["judul"]}}</h3>
                        <p class="deskripsi text-left" data-aos="zoom-out-down" data-aos-duration="2000">
                            {{row["isi"] | truncate(300)}}
                        </p>
                        <p class="deskripsi text-left" data-aos="zoom-out-down" data-aos-duration="2000">
                            <a class="search-submit button" href="#">Lihat Selengkapnya....</a>
                        </p>
                        <br><br>
                    </div>
                </div>
            </div>
            {% endfor %}





        </div>
        </div>


    </section>
    <!-- section 2 end -->

    <div>
    </div>




    <!-- section 3 -->
    <section class="section-tiga text-light" id="feature">
        <svg xmlns=" http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0"
            y="0" class="mb-5" style="background-color:  #ffffff;">
            <polygon class="fill-" points="2560 0 2560 100 0 100" style="fill:  #2d394d; ">
            </polygon>
        </svg>
        <br><br><br><br><br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6 " data-tilt data-tilt-max="5" data-tilt-speed="1000">
                    <div class="content-wraper px-3 pt-3">
                        <h1 class="title-utama my-3" data-aos="fade-down" data-aos-duration="2000">Sebanyak 659.437
                            Pasien Sembuh Dari COVID-19</h1>
                        <p class="deskripsi text-light text-left" data-aos="zoom-out-up" data-aos-duration="2000">
                            JAKARTA - Perkembangan harian penanganan COVID-19 Per 7 Januari 2021 terus menunjukkan
                            peningkatan pada jumlah kesembuhan. Hingga hari ini, jumlah pasien sembuh sudah mencapai
                            659.437 orang atau persentasenya berada di angka 82,7%. Jumlah tersebut termasuk juga
                            penambahan pasien sembuh harian sebanyak 6.924 orang.
                        </p>
                        <p class="deskripsi text-light text-left" data-aos="zoom-out-up" data-aos-duration="2000">

                            Per hari ini, provinsi dengan angka kesembuhan harian tertinggi berada di DKI Jakarta
                            menambahkan pasien sembuh sebanyak 1.441 kasus dan kumulatifnya masih yang tertinggi
                            mencapai 176.736 kasus. Jawa Barat menambahkan sebanyak 1.208 kasus dan kumulatifnya kini
                            menempati urutan kedua mencapai 78.729 kasus.
                        </p>
                        <p class="deskripsi text-light text-left" data-aos="zoom-out-up" data-aos-duration="2000">
                            <a class="search-submit button" href="#">Lihat Selengkapnya....</a>
                        </p>
                    </div>

                </div>
                <div class="col-md-6">
                    <img src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2021/01/05/1188846060.jpeg"
                        class="img-fluid floating" alt="">
                </div>
            </div>
        </div>
        <br><br>


    </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background-color:#2d394d;">
        <path fill="white" fill-opacity="1"
            d="M0,288L48,282.7C96,277,192,267,288,250.7C384,235,480,213,576,181.3C672,149,768,107,864,106.7C960,107,1056,149,1152,138.7C1248,128,1344,64,1392,32L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>

    <!-- section 3 end -->


    <!-- section 4 -->
    <section class="section-empat" id="team">
        <div class="container text-center pt-5 pb-5">
            <h1 class="title-utama mb-5" data-aos="fade-down" data-aos-duration="1000">Tentang Kami</h1>
            <img src="{{ url_for('static', filename='penta/img/team-vector-2.png') }}" class="img-fluid"
                alt="Penta team" data-tilt data-tilt-max="5" data-tilt-speed="1000" data-aos="zoom-in"
                data-aos-duration="1600">

            <!-- ======= Team Section ======= -->
            <div id="team" class="team section-bg">
                <div class="container">

                    <div class="section-title my-5">

                        <p class="deskripsi" data-aos="fade-down" data-aos-duration="1000">
                            Kami adalah seorang developer website yang kreatif dan memiliki passion untuk menghasilkan produk terbaik untuk klien, Kami memiliki pengalaman dalam membuat website, baik dari kebutuhan personal maupun website publik dengan kebutuhan pengelolaan data yang kompleks.
                        </p>
                    </div>


                    

                    <div class="row justify-content-center mt-3">

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch anggota ">
                            <div class="member">
                                <div class="member-img">
                                    <img src="{{ url_for('static', filename='penta/img/team/hsans - Copy.png') }}"
                                        class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Ahsanul K.</h4>(19SA1295)
                                    <span>Full-Stack Developer</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch anggota">
                            <div class="member">
                                <div class="member-img">
                                    <img src="{{ url_for('static', filename='penta/img/team/luthfew.png') }}"
                                        class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Luthfi Wijaya</h4>(19SA1198)
                                    <span>Full-Stack Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">


                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch anggota">
                            <div class="member">
                                <div class="member-img">
                                    <img src="{{ url_for('static', filename='penta/img/team/ardan.jfif') }}"
                                        class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Ardan Ario Jati</h4>(19SA1127)
                                    <span>Data Analis</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch anggota">
                            <div class="member">
                                <div class="member-img">
                                    <img src="{{ url_for('static', filename='penta/img/team/barkah.jfif') }}"
                                        class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Barkah Syahrur H</h4>(19SA1003)
                                    <span>Desainer</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch anggota">
                            <div class="member">
                                <div class="member-img">
                                    <img src="{{ url_for('static', filename='penta/img/team/guntur.jfif') }}"
                                        class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Guntur Hajat P</h4>(19SA1293)
                                    <span>Tester</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- End Team Section -->

        </div>
        <br><br><br>
    </section>
    <!-- section 4 end -->


{% endblock content %}